// Section
section {
  padding: 5rem 0rem;
  margin-top: 80px;
  min-height: 100vh;
  position: relative;
  scroll-snap-type: y mandatory;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    scroll-snap-align: start;
    }


  @include respond(phone) {
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
